/*
!.gitignore

!/.config/
/.config/.V2rayU/
/.config/.ShadowsocksX-NG/
/.config/clash/
/.config/pip/
/.config/coc/
/.config/filezilla/
!/.config/nvim

.DS_Store
.ShadowsocksX-NG/
.V2rayU/
.zprofile/
clash/
coc/
filezilla/
fish/
gtk-2.0/
htop/
iterm2/
lazygit
matplotlib/
neofetch/
!nvim/
!snippets/
!scripts/
!tmux/
nvim-vscode/
pip/
ranger
raycast/
ros.org/
zellij/


!.yabairc
!.tmux.conf

!.skhdrc
!.zshrc
