snippet imain "Description" cpp main fuction
#include <iostream>

using namespace std;

int main(int argc, char **argv){
	
	${0}

	return 0;
}
endsnippet
snippet uns "Description" using namespace
using namespace std;
endsnippet
snippet une "Description" using namespace
using namespace Eigen;
endsnippet

